<div class="footer">
  <div class="footer-links" target = "_blank">
    <a href="https://github.com/MHDNoronha" target= "_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/mhdn/" target= "_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    &copy; <%= Time.now.year %> MyPortfolio | This site was made with <i class="fas fa-heart"></i> by Matt Noronha
  </div>
</div>
