<div class="tabs-container">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Projects</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">CV</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Experience</a>
    </li>
  </ul>
</div>
