<body>
      <div class="header">
        <div class="fixed">Matt Noronha</div>
        <ul class="typed">
          <li><span>Full</span></li>
          <li><span>Stack</span></li>
          <li><span>Developer</span></li>
        </ul>
      </div>
</body>
