.footer {
  background: #256a6f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this to space out the links evenly */
  height: 100%; /* Add this to make the links take up the full height of the footer */
}

.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 1;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
  display: flex; /* Add this to vertically align the link content */
  align-items: center; /* Add this to vertically align the link content */
}

.footer-links a:hover {
  opacity: 0.5;
}

.footer .fa-heart {
  color: #3ea1d3;
}
