.profile-image {
  width: 300px; /* Adjust the size as needed */
  height: 400px; /* Adjust the size as needed */
  border-radius: 10%; /* Makes the image circular */
  border: 2px solid #FC9F5B; /* Optional: Add a white border */
  position: absolute;
  display: grid;
  right: 60px;
  top: 140px;
  max-width: 100%;
  height: auto;
}
