.profile-image {
  width: 300px; /* Adjust the size as needed */
  height: 400px; /* Adjust the size as needed */
  border-radius: 10%; /* Makes the image circular */
  border: 2px solid #256a6f; /* Optional: Add a white border */
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  max-width: 100%;
  height: auto;
}
