@import "footer";
@import "tabs";
@import "background";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import "profile";
@import "navbar";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace;
}
body {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  align-items: center;
}
.header{
  display: inline-flex;
  margin-left: 40px;
}
.header .fixed {
  font-size: 70px;
  font-weight: 500;
  color: #594236;
  line-height: 90px;
}
.header .typed{
  margin-left: 20px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;

}
.header .typed li{
  color: #FC9F5B;
  font-size: 70px;
  font-weight: 600;
  list-style: none;
  animation: slide 4.5s steps(3) infinite;
  position: relative;
  top: 0;
}
@keyframes slide{
  100%{
    top: -360px;
  }
}
.header .typed li span{
  position: relative;
}
.header .typed li span::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  border-left: 2px solid #594236;
  background: #ffffff;
  animation: cursor 1s infinite step-end, typing 1.5s steps(8) infinite;
}
@keyframes cursor{
  0%, 100%{border-color: transparent;}
  50%{border-color: #594236;}
}
@keyframes typing{
  0%, /* Changed 100% to 0% */
  25%, /* Added this keyframe */
  75%, /* Added this keyframe */
  100% { /* Changed 0% to 100% */
    left: 0;
  }
  25%, /* Added this keyframe */
  75% { /* Added this keyframe */
    left: 8ch;
}
}
@keyframes slide{
  100%{top:-270px}
  }
